<!doctype html>
<html lang="en">
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <hr>
        <a th:href="@{/home/index}" th:text="#{menu.home}">Home</a>
        <a th:href="@{/home/index}" th:text="#{menu.about}">About</a>
        <a th:href="@{/home/index}" th:text="#{menu.contact}">Contact</a>
        <a th:href="@{/home/index}" th:text="#{menu.feedback}">Feedback</a>
        <hr>
    </nav>
</body>
</html>